**Docs:** 
- https://github.com/thinh-vu/vnstock
- https://vnstocks.com/docs/tai-lieu

In [1]:
# pip install git+https://github.com/thinh-vu/vnstock

In [2]:
pip show vnstock

Name: vnstock
Version: 3.2.7
Summary: A beginner-friendly yet powerful Python toolkit for financial analysis and automation ‚Äî built to make modern investing accessible to everyone
Home-page:
Author:
Author-email: Thinh Vu <support@vnstocks.com>
License: Custom: Personal, research, non-commercial; contact support@vnstocks.com for other use
Location: c:\users\manh\appdata\local\programs\python\python310\lib\site-packages
Requires: beautifulsoup4, importlib-metadata, openpyxl, packaging, pandas, psutil, pydantic, requests, seaborn, tenacity, vnai, vnstock_ezchart
Required-by: vnstock_ezchart
Note: you may need to restart the kernel to use updated packages.

In [3]:
from vnstock.api.listing import Listing
from vnstock.api.company import Company
from vnstock.api.financial import Finance
from vnstock.api.quote import Quote
import inspect

Failed to fetch remote content: HTTPSConnectionPool(host='hq.vnstocks.com', port=443): Read timed out. (read timeout=3)

## üëã Ch√†o m·ª´ng b·∫°n ƒë·∫øn v·ªõi Vnstock!
C·∫£m ∆°n b·∫°n ƒë√£ s·ª≠ d·ª•ng package ph√¢n t√≠ch ch·ª©ng kho√°n #1 t·∫°i Vi·ªát Nam
* T√†i li·ªáu: [S·ªï tay h∆∞·ªõng d·∫´n](https://vnstocks.com/docs)
* C·ªông ƒë·ªìng: [Nh√≥m Facebook](https://facebook.com/groups/vnstock.official)
Kh√°m ph√° c√°c t√≠nh nƒÉng m·ªõi nh·∫•t v√† tham gia c·ªông ƒë·ªìng ƒë·ªÉ nh·∫≠n h·ªó tr·ª£.

In [4]:
# Get all methods in each class
classes = [Listing, Company, Finance, Quote]
for cls in classes:
    print(f"\nClass: {cls.__name__}")
    methods = inspect.getmembers(cls, inspect.isfunction)
    for method_name, method in methods:
        print(f"{method_name:<25}: {method}")

Class: Listing
__getattr__              : <function BaseAdapter.__getattr__ at 0x0000027F29257520>
__init__                 : <function Listing.__init__ at 0x0000027F29285900>
_delegate_to_provider    : <function Listing._delegate_to_provider at 0x0000027F29285090>
all_bonds                : <function Listing.all_bonds at 0x0000027F29286B00>
all_covered_warrant      : <function Listing.all_covered_warrant at 0x0000027F29286950>
all_future_indices       : <function Listing.all_future_indices at 0x0000027F292865F0>
all_government_bonds     : <function Listing.all_government_bonds at 0x0000027F292867A0>
all_symbols              : <function Listing.all_symbols at 0x0000027F29285B40>
history                  : <function BaseAdapter.history at 0x0000027F292576D0>
industries_icb           : <function Listing.industries_icb at 0x0000027F29286200>
symbols_by_exchange      : <function Listing.symbols_by_exchange at 0x0000027F29285FC0>
symbols_by_group         : <function Listing.symbols_by_group at 0x0000027F29286440>
symbols_by_industries    : <function Listing.symbols_by_industries at 0x0000027F29285D80>

Class: Company
__getattr__              : <function BaseAdapter.__getattr__ at 0x0000027F29257520>
__init__                 : <function Company.__init__ at 0x0000027F29257EB0>
_delegate_to_provider    : <function Company._delegate_to_provider at 0x0000027F29284040>
affiliate                : <function Company.affiliate at 0x0000027F29284AF0>
events                   : <function Company.events at 0x0000027F29284F70>
history                  : <function BaseAdapter.history at 0x0000027F292576D0>
news                     : <function Company.news at 0x0000027F29284D30>
officers                 : <function Company.officers at 0x0000027F29284670>
overview                 : <function Company.overview at 0x0000027F292841F0>
shareholders             : <function Company.shareholders at 0x0000027F29284430>
subsidiaries             : <function Company.subsidiaries at 0x0000027F292848B0>

Class: Finance
__getattr__              : <function BaseAdapter.__getattr__ at 0x0000027F29257520>
__init__                 : <function Finance.__init__ at 0x0000027F29285120>
_delegate_to_provider    : <function Finance._delegate_to_provider at 0x0000027F291B9FC0>
balance_sheet            : <function Finance.balance_sheet at 0x0000027F29285360>
cash_flow                : <function Finance.cash_flow at 0x0000027F292855A0>
history                  : <function BaseAdapter.history at 0x0000027F292576D0>
income_statement         : <function Finance.income_statement at 0x0000027F29256830>
ratio                    : <function Finance.ratio at 0x0000027F292857E0>

Class: Quote
__getattr__              : <function BaseAdapter.__getattr__ at 0x0000027F29257520>
__init__                 : <function Quote.__init__ at 0x0000027F292571C0>
_delegate_to_provider    : <function Quote._delegate_to_provider at 0x0000027F29257400>
history                  : <function Quote.history at 0x0000027F29257910>
intraday                 : <function Quote.intraday at 0x0000027F29257B50>
price_depth              : <function Quote.price_depth at 0x0000027F29257D90>

# Th√¥ng tin ni√™m y·∫øt

In [5]:
listing = Listing(source='VCI')

In [6]:
vn30_symbols = listing.symbols_by_group("VN30")
vn30_symbols

0     ACB
1     BCM
2     BID
3     CTG
4     DGC
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

In [7]:
listing.symbols_by_industries()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,BQP,C√¥ng ty C·ªï ph·∫ßn Nh·ª±a ch·∫•t l∆∞·ª£ng cao B√¨nh Thu·∫≠n,H√≥a ch·∫•t,H√≥a ch·∫•t,"Nh·ª±a, cao su & s·ª£i",CT,1000,1300,1350,1353
1,F88,C√¥ng ty C·ªï ph·∫ßn ƒê·∫ßu t∆∞ F88,D·ªãch v·ª• t√†i ch√≠nh,D·ªãch v·ª• t√†i ch√≠nh,T√†i ch√≠nh c√° nh√¢n,CT,8000,8700,8770,8773
2,DVT,Trung t√¢m ƒê√†o t·∫°o nghi·ªáp v·ª• Giao th√¥ng v·∫≠n t·∫£i...,T∆∞ v·∫•n & H·ªó tr·ª£ Kinh doanh,H√†ng & D·ªãch v·ª• C√¥ng nghi·ªáp,ƒê√†o t·∫°o & Vi·ªác l√†m,CT,2000,2700,2790,2793
3,ABS,C√¥ng ty C·ªï ph·∫ßn D·ªãch v·ª• N√¥ng nghi·ªáp B√¨nh Thu·∫≠n,H√≥a ch·∫•t,H√≥a ch·∫•t,"S·∫£n ph·∫©m h√≥a d·∫ßu, N√¥ng d∆∞·ª£c & H√≥a ch·∫•t kh√°c",CT,1000,1300,1350,1357
4,AGR,C√¥ng ty C·ªï ph·∫ßn Ch·ª©ng kho√°n AGRIBANK,D·ªãch v·ª• t√†i ch√≠nh,D·ªãch v·ª• t√†i ch√≠nh,M√¥i gi·ªõi ch·ª©ng kho√°n,CK,8000,8700,8770,8777
...,...,...,...,...,...,...,...,...,...,...
1579,XHC,C√¥ng ty C·ªï ph·∫ßn Xu√¢n H√≤a Vi·ªát Nam,H√†ng gia d·ª•ng,H√†ng c√° nh√¢n & Gia d·ª•ng,Thi·∫øt b·ªã gia d·ª•ng,CT,3000,3700,3720,3726
1580,XMP,C√¥ng ty C·ªï ph·∫ßn Th·ªßy ƒëi·ªán Xu√¢n Minh,S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,"ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë·ªët",S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,CT,7000,7500,7530,7535
1581,YBC,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,CT,2000,2300,2350,2353
1582,YBM,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i,Khai kho√°ng,T√†i nguy√™n C∆° b·∫£n,Khai kho√°ng,CT,1000,1700,1770,1775
1583,YEG,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1,Truy·ªÅn th√¥ng,Truy·ªÅn th√¥ng,Gi·∫£i tr√≠ & Truy·ªÅn th√¥ng,CT,5000,5500,5550,5553

In [8]:
listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,S·∫£n xu·∫•t D·∫ßu kh√≠,Oil & Gas Producers,0530,3
1,"Thi·∫øt b·ªã, D·ªãch v·ª• v√† Ph√¢n ph·ªëi D·∫ßu kh√≠","Oil Equipment, Services & Distribution",0570,3
2,H√≥a ch·∫•t,Chemicals,1350,3
3,L√¢m nghi·ªáp v√† Gi·∫•y,Forestry & Paper,1730,3
4,Kim lo·∫°i,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Internet,Internet,9535,4
151,Ph·∫ßn m·ªÅm,Software,9537,4
152,Ph·∫ßn c·ª©ng,Computer Hardware,9572,4
153,Thi·∫øt b·ªã vƒÉn ph√≤ng,Electronic Office Equipment,9574,4
154,Thi·∫øt b·ªã vi·ªÖn th√¥ng,Telecommunications Equipment,9578,4

# Th√¥ng tin c√¥ng ty

In [9]:
import pandas as pd
import warnings
from typing import Callable
import time

warnings.filterwarnings("ignore")

In [10]:
def get_companies(symbols: list[str], source: str) -> list[str]:
    companies = []
    for s in symbols.to_list():
        companies.append(Company(symbol=s, source=source))
    return companies

companies_from_vci = get_companies(vn30_symbols, "VCI")
companies_from_tcbs = get_companies(vn30_symbols, "TCBS")

In [11]:
def get_company_data(func: Callable[..., pd.DataFrame], companies: list[str], **kwargs) -> pd.DataFrame:
    list_df = []
    for c in companies:
        df_c = func(c, **kwargs)
        df_c["symbol"] = c.symbol
        list_df.append(df_c)

    df = pd.concat(list_df, axis=0, ignore_index=True)
    return df

In [12]:
time.sleep(60)
get_company_data(Company.overview, companies_from_vci).head(5)

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,5136656599,- Ng√†y 24/04/1993: Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph...,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u (ACB) ƒë∆∞·ª£c...,Ng√¢n h√†ng,Ng√¢n h√†ng,Ng√¢n h√†ng,5136656599,51366565990000
1,BCM,68107,1035000000,- NƒÉm 1976: C√¥ng ty Th∆∞∆°ng Nghi·ªáp T·ªïng H·ª£p B·∫ø...,T·∫≠p ƒëo√†n ƒê·∫ßu t∆∞ v√† Ph√°t tri·ªÉn C√¥ng nghi·ªáp Beca...,B·∫•t ƒë·ªông s·∫£n,B·∫•t ƒë·ªông s·∫£n,B·∫•t ƒë·ªông s·∫£n,1035000000,10350000000000
2,BID,68105,7021361917,- Ng√†y 26/04/1957: Ti·ªÅn th√¢n l√† Ng√¢n h√†ng Ki·∫ø...,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn ƒê·∫ßu t∆∞ v√† Ph√°t tr...,Ng√¢n h√†ng,Ng√¢n h√†ng,Ng√¢n h√†ng,7021361917,70213619170000
3,CTG,68964,5369991748,- 1988: Ng√¢n h√†ng C√¥ng th∆∞∆°ng Vi·ªát Nam ƒë∆∞·ª£c t...,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn C√¥ng th∆∞∆°ng Vi·ªát ...,Ng√¢n h√†ng,Ng√¢n h√†ng,Ng√¢n h√†ng,5369991748,53699917480000
4,DGC,69260,379779286,- 1963: C√¥ng ty H√≥a ch·∫•t ƒê·ª©c Giang ƒë∆∞·ª£c th√†nh...,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n H√≥a ch·∫•t ƒê·ª©c Giang (D...,H√≥a ch·∫•t,H√≥a ch·∫•t,"S·∫£n ph·∫©m h√≥a d·∫ßu, N√¥ng d∆∞·ª£c & H√≥a ch·∫•t kh√°c",379778413,3797792860000

In [13]:
time.sleep(60)
get_company_data(Company.overview, companies_from_tcbs).head(5)

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,ACB,HOSE,Banks,NH,76457,0.294,5136.7,5136.7,2006,13022,3.1,-0.003,-0.001,-0.070,Asia Commercial Bank,https://www.acb.com.vn,289,8355
1,BCM,HOSE,Real Estate,CT,6292,0.023,1035.0,1035.0,2006,3296,2.4,0.023,0.075,-0.271,Becamex Group,https://becamex.com.vn,336,8633
2,BID,HOSE,Banks,NH,38476,0.172,7021.4,7021.4,1993,29816,2.4,0.031,0.006,-0.296,BIDV,https://www.bidv.com.vn,289,8355
3,CTG,HOSE,Banks,NH,53928,0.256,5370.0,5370.0,1998,24769,2.9,0.012,-0.041,0.121,VietinBank,http://www.vietinbank.vn,289,8355
4,DGC,HOSE,Chemicals,CT,944,0.118,379.8,379.8,2004,2619,3.0,-0.019,0.058,-0.422,Ducgiang Chemicals,http://ducgiangchem.vn,151,1357

In [14]:
get_company_data(Company.shareholders, companies_from_vci).head(5)

,id,share_holder,quantity,share_own_percent,update_date,symbol
0,92246964,Vietnam Enterprise Investments Limited,212880184,0.054809,2024-09-13,ACB
1,92241772,Sather Gate Investments Limited,193907186,0.049900,2025-10-05,ACB
2,92223027,Estes Investments Limited,83010435,0.049900,2024-05-15,ACB
3,92239535,Ph·∫°m Th·ªã Thu H√†,285000,0.049900,2016-05-20,ACB
4,92222604,Dragon Financial Holdings Limited,140770684,0.036243,2025-10-05,ACB

In [15]:
get_company_data(Company.shareholders, companies_from_tcbs).head(5)

               share_holder  share_own_percent symbol
0             Tran Hung Huy             0.0343    ACB
1  Nguyen Thien Huong Jenny             0.0134    ACB
2             Dang Thu Thuy             0.0119    ACB
3    Nguyen Duc Hieu Johnny             0.0107    ACB
4               Dang Thu Ha             0.0103    ACB

In [16]:
get_company_data(Company.officers, companies_from_vci).head(5)

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity,symbol
0,6,Tr·∫ßn H√πng Huy,Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,Ch·ªß t·ªãch HƒêQT,2025-08-12,0.0343,176021482,ACB
1,7,ƒê·∫∑ng Thu Th·ªßy,Th√†nh vi√™n H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,TV HƒêQT,2025-08-12,0.0119,61352541,ACB
2,17,ƒê·∫∑ng Ph√∫ Vinh,Gi√°m ƒë·ªëc kh·ªëi,Gƒê Kh·ªëi,2025-08-12,0.0037,18922683,ACB
3,8,ƒê·ªó Minh To√†n,T·ªïng Gi√°m ƒë·ªëc,TGƒê,2025-08-12,0.0007,3683318,ACB
4,9,Nguy·ªÖn Th√†nh Long,Ph√≥ Ch·ªß t·ªãch H·ªôi ƒë·ªìng Qu·∫£n tr·ªã,Ph√≥ Ch·ªß t·ªãch HƒêQT,2025-08-12,0.0004,1894127,ACB

In [17]:
time.sleep(60)
get_company_data(Company.officers, companies_from_tcbs).head(5)

,officer_name,officer_position,officer_own_percent,symbol
0,Tran Hung Huy,Chairman of Management Board,0.0343,ACB
1,Dang Thu Thuy,Member of Management Board,0.0119,ACB
2,Dang Phu Vinh,Department Director,0.0037,ACB
3,Do Minh Toan,Member of Management Board,0.0007,ACB
4,Nguyen Thanh Long,Vice Chairman of Management Board,0.0004,ACB

In [18]:
time.sleep(60)
get_company_data(Company.news, companies_from_vci).head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct,symbol
0,8699409,ACB: D·ª± th·∫£o Ngh·ªã quy·∫øt ƒêHƒêCƒê th√†nh l·∫≠p c√¥ng t...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-du-thao-nghi...,None,1761562938000,None,vi,11774312,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë D·ª±...,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë...,25000.0,25000.0,23250.0,26750.0,0.0,ACB
1,8699410,ACB: Phi·∫øu l·∫•y √Ω ki·∫øn c·ªï ƒë√¥ng b·∫±ng vƒÉn b·∫£n,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-phieu-lay-y-...,None,1761562874000,None,vi,11774315,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë Ph...,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë...,25000.0,25000.0,23250.0,26750.0,0.0,ACB
2,8699366,ACB: T·ªù tr√¨nh ƒêHƒêCƒê v·ªÅ vi·ªác th√†nh l·∫≠p c√¥ng ty con,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-to-trinh-dhd...,None,1761562827000,None,vi,11774248,Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë T·ªù...,<p>Ng√¢n h√†ng Th∆∞∆°ng m·∫°i C·ªï ph·∫ßn √Å Ch√¢u c√¥ng b·ªë...,25000.0,25000.0,23250.0,26750.0,0.0,ACB

In [19]:
get_company_data(Company.news, companies_from_tcbs).head(3)

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date,symbol
0,45.3,70.0,25400.0,0.0,0.0,-0.008,11777627,ACB: Th√¥ng b√°o giao d·ªãch c·ªï phi·∫øu c·ªßa ng∆∞·ªùi n·ªô...,TCBS,2025-10-29 17:44:00,ACB
1,45.3,70.0,25400.0,0.0,0.0,-0.008,11777631,ACB: Th√¥ng b√°o giao d·ªãch c·ªï phi·∫øu c·ªßa t·ªï ch·ª©c ...,TCBS,2025-10-29 17:42:00,ACB
2,38.8,60.0,25000.0,0.0,0.0,-0.023,11774312,ACB: D·ª± th·∫£o Ngh·ªã quy·∫øt ƒêHƒêCƒê th√†nh l·∫≠p c√¥ng t...,TCBS,2025-10-27 11:02:18,ACB

In [20]:
get_company_data(Company.events, companies_from_vci).head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name,symbol
0,18149,ACB- Ni√™m y·∫øt b·ªï sung 498.821.183 c·ªï phi·∫øu,"ACB- Lists additional 498,821,183 shares",2020-09-30,2020-10-05,http://fiinpro.com/News/Detail/5835123?lang=vi-VN,AIS,0.0,0.0,1753-01-01,1753-01-01,Ni√™m y·∫øt th√™m,Additional Listing,ACB
1,18145,ACB - Ni√™m y·∫øt b·ªï sung 162.673.713 c·ªï phi·∫øu,ACB - Lists 162.673.713 additional shares,2018-11-01,2018-11-05,http://fiinpro.com/News/Detail/2517244?lang=vi-VN,AIS,0.0,0.0,1753-01-01,1753-01-01,Ni√™m y·∫øt th√™m,Additional Listing,ACB
2,18133,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,,2011-12-20,2012-01-18,,DIV,NaN,NaN,2012-01-05,2012-01-03,Tr·∫£ c·ªï t·ª©c b·∫±ng ti·ªÅn m·∫∑t,Cash Dividend,ACB

In [21]:
get_company_data(Company.events, companies_from_tcbs).head(3)

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc,symbol
0,45.3,70.0,2602730,25400.0,0.0,0.0,-0.008,ACB - Notification Insider Transaction,DDINS,2025-10-29,2025-12-02,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...,ACB
1,45.3,70.0,2602731,25400.0,0.0,0.0,-0.008,ACB - Notification Insider Transaction,DDALL,2025-10-29,2025-12-02,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...,ACB
2,45.3,70.0,2602732,25400.0,0.0,0.0,-0.008,ACB - Notification Insider Transaction,DDALL,2025-10-29,2025-12-02,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...,ACB

# Th·ªëng k√™ gi√° l·ªãch s·ª≠

In [22]:
quote = Quote(symbol='VCI', source='VCI')

In [23]:
time.sleep(60)
quote.history(start='2020-01-01', end='2025-08-24', interval="1D")

           time   open   high    low  close    volume
0    2019-09-30   8.66   8.68   8.36   8.36     25380
1    2019-10-01   8.36   8.54   8.36   8.54     17820
2    2019-10-02   8.54   8.84   8.52   8.79    116700
3    2019-10-03   8.69   8.79   8.66   8.66     50440
4    2019-10-04   8.66   8.66   8.44   8.44     21360
...         ...    ...    ...    ...    ...       ...
1470 2025-08-18  45.10  45.50  44.20  44.50  13894000
1471 2025-08-19  44.55  47.00  44.10  45.90  21205600
1472 2025-08-20  45.75  46.20  43.00  46.20  15818600
1473 2025-08-21  46.30  48.50  45.90  46.00  22510800
1474 2025-08-22  45.30  45.70  43.00  43.30  15151100

[1475 rows x 6 columns]

# B√°o c√°o t√†i ch√≠nh

In [24]:
finance = Finance(symbol='VCI', source='VCI')

In [25]:
finance.ratio(period='year', lang='vi').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 37 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   (Meta, CP)                                                   13 non-null     object
 1   (Meta, NƒÉm)                                                  13 non-null     int64
 2   (Meta, K·ª≥)                                                   13 non-null     int64
 3   (Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën, (Vay NH+DH)/VCSH)                13 non-null     float64
 4   (Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën, N·ª£/VCSH)                         13 non-null     float64
 5   (Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën, TSCƒê / V·ªën CSH)                  13 non-null     float64
 6   (Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën, V·ªën CSH/V·ªën ƒëi·ªÅu l·ªá)             13 non-null     float64
 7   (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, V√≤ng quay t√†i s·∫£n)             13 non-null     float64
 8   (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, V√≤ng quay TSCƒê)                13 non-null     float64
 9   (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, S·ªë ng√†y thu ti·ªÅn b√¨nh qu√¢n)    13 non-null     float64
 10  (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, S·ªë ng√†y t·ªìn kho b√¨nh qu√¢n)     13 non-null     float64
 11  (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, S·ªë ng√†y thanh to√°n b√¨nh qu√¢n)  13 non-null     float64
 12  (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, Chu k·ª≥ ti·ªÅn)                   13 non-null     float64
 13  (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, V√≤ng quay h√†ng t·ªìn kho)        13 non-null     float64
 14  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, Bi√™n EBIT (%))                  13 non-null     float64
 15  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, Bi√™n l·ª£i nhu·∫≠n g·ªôp (%))         13 non-null     float64
 16  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, Bi√™n l·ª£i nhu·∫≠n r√≤ng (%))        13 non-null     float64
 17  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, ROE (%))                        13 non-null     float64
 18  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, ROIC (%))                       13 non-null     float64
 19  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, ROA (%))                        13 non-null     float64
 20  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, EBITDA (T·ª∑ ƒë·ªìng))               13 non-null     int64
 21  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, EBIT (T·ª∑ ƒë·ªìng))                 13 non-null     float64
 22  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, T·ª∑ su·∫•t c·ªï t·ª©c (%))             13 non-null     float64
 23  (Ch·ªâ ti√™u thanh kho·∫£n, Ch·ªâ s·ªë thanh to√°n hi·ªán th·ªùi)          13 non-null     float64
 24  (Ch·ªâ ti√™u thanh kho·∫£n, Ch·ªâ s·ªë thanh to√°n ti·ªÅn m·∫∑t)           13 non-null     float64
 25  (Ch·ªâ ti√™u thanh kho·∫£n, Ch·ªâ s·ªë thanh to√°n nhanh)              13 non-null     float64
 26  (Ch·ªâ ti√™u thanh kho·∫£n, Kh·∫£ nƒÉng chi tr·∫£ l√£i vay)             13 non-null     float64
 27  (Ch·ªâ ti√™u thanh kho·∫£n, ƒê√≤n b·∫©y t√†i ch√≠nh)                    13 non-null     float64
 28  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, P/B)                                     13 non-null     float64
 29  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, V·ªën h√≥a (T·ª∑ ƒë·ªìng))                       13 non-null     int64
 30  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, S·ªë CP l∆∞u h√†nh (Tri·ªáu CP))               13 non-null     int64
 31  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, P/E)                                     13 non-null     float64
 32  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, P/S)                                     13 non-null     float64
 33  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, P/Cash Flow)                             13 non-null     float64
 34  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, EPS (VND))                               13 non-null     float64
 35  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, BVPS (VND))                              13 non-null     float64
 36  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, EV/EBITDA)                               13 non-null     float64
dtypes: float64(31), int64(5), object(1)
memory usage: 3.9+ KB

In [26]:
finance.ratio(period='year', lang='en').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 37 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   (Meta, ticker)                                               13 non-null     object
 1   (Meta, yearReport)                                           13 non-null     int64
 2   (Meta, lengthReport)                                         13 non-null     int64
 3   (Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën, (ST+LT borrowings)/Equity)       13 non-null     float64
 4   (Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën, Debt/Equity)                     13 non-null     float64
 5   (Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën, Fixed Asset-To-Equity)           13 non-null     float64
 6   (Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën, Owners' Equity/Charter Capital)  13 non-null     float64
 7   (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, Asset Turnover)                13 non-null     float64
 8   (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, Fixed Asset Turnover)          13 non-null     float64
 9   (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, Days Sales Outstanding)        13 non-null     float64
 10  (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, Days Inventory Outstanding)    13 non-null     float64
 11  (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, Days Payable Outstanding)      13 non-null     float64
 12  (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, Cash Cycle)                    13 non-null     float64
 13  (Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông, Inventory Turnover)            13 non-null     float64
 14  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, EBIT Margin (%))                13 non-null     float64
 15  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, Gross Profit Margin (%))        13 non-null     float64
 16  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, Net Profit Margin (%))          13 non-null     float64
 17  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, ROE (%))                        13 non-null     float64
 18  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, ROIC (%))                       13 non-null     float64
 19  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, ROA (%))                        13 non-null     float64
 20  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, EBITDA (Bn. VND))               13 non-null     int64
 21  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, EBIT (Bn. VND))                 13 non-null     float64
 22  (Ch·ªâ ti√™u kh·∫£ nƒÉng sinh l·ª£i, Dividend yield (%))             13 non-null     float64
 23  (Ch·ªâ ti√™u thanh kho·∫£n, Current Ratio)                        13 non-null     float64
 24  (Ch·ªâ ti√™u thanh kho·∫£n, Cash Ratio)                           13 non-null     float64
 25  (Ch·ªâ ti√™u thanh kho·∫£n, Quick Ratio)                          13 non-null     float64
 26  (Ch·ªâ ti√™u thanh kho·∫£n, Interest Coverage)                    13 non-null     float64
 27  (Ch·ªâ ti√™u thanh kho·∫£n, Financial Leverage)                   13 non-null     float64
 28  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, P/B)                                     13 non-null     float64
 29  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, Market Capital (Bn. VND))                13 non-null     int64
 30  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, Outstanding Share (Mil. Shares))         13 non-null     int64
 31  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, P/E)                                     13 non-null     float64
 32  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, P/S)                                     13 non-null     float64
 33  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, P/Cash Flow)                             13 non-null     float64
 34  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, EPS (VND))                               13 non-null     float64
 35  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, BVPS (VND))                              13 non-null     float64
 36  (Ch·ªâ ti√™u ƒë·ªãnh gi√°, EV/EBITDA)                               13 non-null     float64
dtypes: float64(31), int64(5), object(1)
memory usage: 3.9+ KB